# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual env
.venv/
env/
venv/

# VSCode / PyCharm
.vscode/
.idea/

# Byte-compiled / logs
*.log
*.pot
*.pyc

# Alembic
alembic/versions/*.pyc

# Playwright
test-results/
playwright-report/
